<section class="container">


  <div class = "characters-container">
    <div *ngFor="let character of characters" class="character-info">
      <div class="id">Id: <span>{{character.id}}</span></div>
      <div class="name">Name: <span>{{character.name}}</span></div>
      <div class="occupation">Occupation: <span>{{character.occupation}}</span></div>
      <div class="debt">Debt: <span>{{character.debt}}</span></div>
      <div class="weapon">Weapon: <span>{{character.weapon}}</span></div>
    </div>
  </div>

  <section class="operations">
    <div class="operation">
      <button id="fetch-all">Fetch all</button>
    </div>
    <div class="operation">
      <label for="character-id">Search by ID: </label>
      <input type="text" name="character-id">
      <button id="fetch-one">Fetch one</button>
    </div>
    <div class="operation delete">
      <label for="character-id-delete">Delete by ID: </label>
      <input type="text" name="character-id-delete">
      <button id="delete-one">Delete one</button>
    </div>

  </section>

</section>
